/* ====== GLOBAL ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(150deg, #0f2b05, #000000);
  text-align: center;
}

/* ====== HEADER ====== */
header {
  padding: 75px 0px;
}

/* ====== CARD ====== */
.card {
  width: 264px;
  height: 419px;

  display: inline-block;

  background-image: url(./assets/bg-explorer.svg);
  box-shadow: 0px 26px 44px rgba(18, 18, 20, 0.4);

  cursor: pointer;
}

.card > img {
  width: 150px;
  height: 150px;
  object-fit: cover;

  border: 4px solid #f7dd43;
  border-radius: 100%;
  margin-top: 103px;
}

.card .info {
  color: #ffffff;
  text-align: left;
  margin-top: 96px;
  margin-left: 24px;
}

.info h1 {
  font-size: 1.125rem;
  line-height: 140%;
}

.info p {
  font-size: 0.875rem;
  line-height: 160%;
}
